.collapse {
  visibility: visible !important;
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.logo_white {
  width: 200px !important;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-auto {
  margin-left: auto;
}

.nav-item {
    margin-right: 0;
  }

.nav-item {
    margin-right: 1rem;
  }

.nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-link {
    margin: 0 0.5rem;
  }

.nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

.nav-link {
    transition: none;
  }

.nav-link {
  background: none;
  border: 0;
  border-radius: 0.25rem;
}

.nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.nav-link {
  color: #fff;
  background-color: #ffc800;
}

.nav-link {
  color: rgba(0, 0, 0, 0.55);
}

.nav-link {
  color: rgba(255, 255, 255, 0.55);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #f17900;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.0625em;
}

.nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link {
  position: relative;
}

.nav-link {
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
    font-size: 1.25em;
  }

.navbar-brand {
    transition: font-size 0.3s ease-in-out;
  }

.navbar-brand {
  color: #ffc800;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.navbar-brand {
  color: #fff;
}

.navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

.navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

.navbar-nav {
    flex-direction: row;
  }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-toggler {
    display: none;
  }

.navbar-toggler {
    transition: none;
  }

.navbar-toggler {
  color: rgba(0, 0, 0, 0.55);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  display: none;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  color: #fff;
}

.navbar-toggler {
  padding: 3px 6px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.newNav_container {
    width: 92%;
    max-width: 1100px;
    min-width: 0px;
  }

.newNav_container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  min-width: 1200px;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-lg-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    flex-direction: row;
  }

@media (min-width: 1400px) {
  .navbar-expand-xxl {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xxl .navbar-nav {
    flex-direction: row;
  }

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    flex-direction: row;
  }

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    flex-direction: row;
  }

@media (min-width: 992px) and (max-width: 1199px) {
  #mainNav .navbar-nav .nav-item {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }

@media (prefers-reduced-motion: reduce) {
  .collapsing.collapse-horizontal {
    transition: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}